
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App{
  /* border: 2px solid red; */
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
}
#Div1{
  /* border: 2px solid blue; */
  width: 50%;
  height: 100%;
  margin: auto;
}
#Div2{
  /* border: 2px solid blue; */
  width: 50%;
  height: 100%;
}

